<nav class="navbar fixed-top navbar-expand-lg navbar-dark shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/home">
      <img src="img/logo1.png" alt="" width="135w" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/people">Our People</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact">Contact Us</a>
        </li>
      </ul>
      <form class="form-inline" action="/signin">
        <button class="btn btn-outline-success text-white fw-bold my-sm-0" href="#">Login</button>
      </form>
      <form class="form-inline" action="/signup">
        <button class="btn btn-outline-warning text-white fw-bold my-sm-0" href="#">Sign Up</button>
      </form>
    </div>
  </div>
</nav>
