<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/main-layout") %>
  <body>
    
  <%- include ("partials/nav") %>
    
<section id="home">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="padding-top: 0rem">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner text-center">
      <div class="carousel-item active">
        <img src="img/bg1.jpg" class="d-block w-100" alt="picture1" />
        <div class="carousel-caption d-flex h-100 w-100 align-content-start flex-column justify-content-start">
          <h2 class="mb-2">AdSands Consulting Indonesia</h2>
          <p class="pmb-2">A powerful partner for entrepreneurs disrupting massive markets</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/bg2__.jpg" class="d-block w-100" alt="picture2" />
        <div class="carousel-caption d-flex h-100 w-100 align-content-start flex-column justify-content-start">
          <h2 class="mb-3">Get to know your target audiences</h2>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/test3.jpg" class="d-block w-100" alt="picture3" />
        <div class="carousel-caption d-flex h-100 w-100 align-content-start flex-column justify-content-start">
          <h2 class="mb-4">Achieve your maximum exposure in the most efficient spend</h2>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<footer class="text-center text-lg-start">
  <div class="text-center p-1">
    <p>
      © 2021 Copyright -
      <a class="fw-bold text-danger" href="/home">AdSandsConsulting</a>
    </p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>

