<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/proj-layout") %>
  <body>
    
  <%- include ("partials/navproject") %>
      
<section id="projects" style="height: 100vh;"">
    <div class="boxgreen d-flex mx-0 my-0"></div>
    <div class="container-fluid mx-0 px-5 contpro">
      <div class="boxph d-flex">
        <img src="img/boxph2.jpg" alt="friends" >
      </div>
      <div class="row text-center pt-5 my-5">


      </div>
      <div class="row justify-content-between mt-3" style="margin-left: 40%;">
        <div class="col">
          <p class="wwdth mb-0">What We Do To Help?</p>
          <p class="fs-5 mb-4">We combine our experience and vision, first-class solutions and services with strategic planning and creativity to improve the brand and success of our clients.</p>
        </div>
      </div>
      <div class="prod container">
        <div class="row justify-content-between mt-3">
          <div class="col">
            <a href="/project-marcom" target="_blank">
            <div class="card prod1 mb-3">
                <div class="card-body">
                  <p class="card-text text-center">
                    <i class="material-icons">
                      subscriptions
                      </i>
                  </p>
                  <p class="card-text text-center fw-bold fs-3 mb-3">  Marketing Communications </p>
                  <p class="card-text mb-2">"Deliver the right message to the right audience with the right channel"</p>
                </div>
              </div></a>
        </div>
        <div class="col">
          <a href="/project-markdev" target="_blank">
          <div class="card prod1">
              <div class="card-body">
                <p class="card-text text-center">
                  <i class="material-icons">
                    screen_search_desktop
                    </i>
                </p>
                <p class="card-text text-center fw-bold fs-3 mb-3">Market Research & Development</p>
                <p class="card-text mb-2">"We have you covered with market research services that scale to meet your needs"</p>
              </div>
            </div></a>
      </div>
      <div class="col">
        <a href="/project-socmed" target="_blank">
        <div class="card prod1">
            <div class="card-body">
              <p class="card-text text-center">
                <i class="material-icons">
                  tap_and_play
                  </i>
              </p>
              <p class="card-text text-center fw-bold fs-3 mb-3">Social Media Analytics</p>
              <p class="card-text mb-2">"We help you achieve max exposure among your target market for the least of spend"</p>
            </div>
          </div></a>
    </div>
        </div>
      </div>
    </div>
</section>
<!--Section3 End-->

<footer class="text-center text-lg-start">
  <div class="text-center p-1">
    <p>
      © 2021 Copyright -
      <a class="fw-bold text-danger" href="/home">AdSandsConsulting</a>
    </p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>