<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/proj-layout") %>
    <body>
      
    <%- include ("partials/navproject") %>
  
<div class="container ms-5 mt-5">
  <div class="row">
    <div class="col txt1">
      <a href="/projects"> <p class="menuback">< back to our projects</p></a>
      <h1 class="mb-2 ms-5 my-5 p-4">Your spend will return 100% thru Revenue Growth with Suite of Our Systems Apps</h1>
      <div class="row ms-5 me-5 my-5 justify-content-center">
        <div class="col">
          <p class="mb-0 text-danger fw-bold text-center fs-1">144%</p>
          <p class="mb-0 text-center">revenue growth</p>
        </div>
        <div class="col">
          <p class="mb-0 text-danger fw-bold text-center fs-1">52%</p>
          <p class="mb-0 text-center">CB growth</p>
        </div>
        <div class="col">
          <p class="mb-0 text-danger fw-bold text-center fs-1">36%</p>
          <p class="mb-0 text-center">channel growth</p>
        </div>
      </div>
    </div>
    <div class="col gbr1 w-50 h-70">
      <img src="img/test1.jpg" class="w-100 mt-5 mb-5" alt="" />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col mx-5 px-5">
      <h1 class="text-center mt-5 mb-5 txtt1">Accelerate Your Digital Customer Experience Transformation</h1>
      <p class="fs-4 ps-5 mb-4">
        Our Systems is a modern application platform that empowers companies to create omnichannel applications up to 10x faster than with traditional development methods. Breakaway from pre-built software that keeps innovation at bay and
        deliver business results fast. Create perfect-fit experiences that exceed your customers’ expectations and allow you to compete head-to-head with CX leaders.
      </p>
      <p class="fs-4 p-3 mb-4 fw-bold" style="background-color: rgba(95, 158, 160, 0.315); margin-left: 10%">
        Our job is to ensure the systems and communications provides to brokers makes us the easiest insurance provider to work with. Our Systems is at the heart of all the digital experiences we develop and gives us the agility and
        consistency to deliver on that mission.
      </p>
      <p class="fs-4 ms-0 ps-5 mb-5">
        From self-service customer and agent portals to commerce mobile apps, you can create new digital experiences that run on any device in a matter of weeks. Leverage CX accelerators to deliver core functionality, and the speed of
        visual development to create differentiating services and capabilities that meet your unique customer needs. Stay ahead of the competition by continuously evolving your applications to meet changing customer demands and market
        dynamics.
      </p>

      <p class="fw-bold fs-2 ms-5">The major benefits of Our Systems from IT’s perspective:</p>
      <ul class="fs-2 mb-5 py-5 txtul1">
        <li>Transition to agile scrum development practices supported by rapid application development</li>
        <li>Dramatically improved responsiveness to the business and the elimination of shadow IT</li>
        <li>Application delivery about 4-5x faster</li>
        <li>One-click deployment means faster delivery cycles with fewer resources</li>
        <li>The retirement of multiple legacy/COTS applications with multi-million license and maintenance savings</li>
        <li>Ease of integration with a wide variety of core business systems</li>
      </ul>
    </div>
  </div>
</div>

<footer class="text-center text-lg-start">
  <div class="text-center p-1">
    <p>
      © 2021 Copyright -
      <a class="fw-bold text-danger" href="/home">AdSandsConsulting</a>
    </p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>